@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

:root {
	--background: url(./img/rain.png);
	--stroke: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: 	#ABABAB;
	font-size: 1.6rem;
	font-family: RocknRoll One, sans-serif;
	background-image: var(--background);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.5s;
	overflow-y: hidden;
	text-align: center;
}

h1,
h3 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--stroke);
}

.title_container h1 {
	font-size: 5rem;
	color: white;
	margin-top: 2.5rem;
}

.pomodoro_container {
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
}

.time_select,
.sound_picker,
.player_container {
	height: 80%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* Player Part */
.player_container {
	position: relative;
}

.player_container svg {
	position: absolute;
	height: 50%;
	pointer-events: none;
	transform: rotate(-90deg);
}

.play,
.reset {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.reset {
	left: 50%;
	top: 69%;
}

.time-display {
	position: absolute;
	bottom: 10%;
	color: white;
	font-size: 5rem;
}

.count-display {
	position: absolute;
	top: 10%;
	color: white;
	font-size: 5rem;
}

.slide_container {
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20rem;
}

.volume {
	color: var(--stroke);
	background-color: white;
	-webkit-appearance: none;
	width: 100%;
	outline: none;
	border-radius: 20px;
	height: 1rem;
}

.volume::before {
	content: "-";
	color: var(--stroke);
	position: absolute;
	left: -10%;
	font-size: 3rem;
	top: -20%;
}

.volume::after {
	content: "+";
	color: var(--stroke);
	position: absolute;
	right: -13%;
	font-size: 3rem;
	top: -15%;
}

.volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2rem;
	height: 2rem;
	background: rgb(131, 131, 131);
	border-radius: 20px;
}

.volume::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2rem;
	height: 2rem;
	background: rgb(63, 63, 63);
	border-radius: 20px;
}

/* Time and sound */
.time_select button,
.sound_picker button {
	color: var(--stroke);
	width: 13rem;
	height: 5.3rem;
	background: none;
	border: 2px solid var(--stroke);
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.5rem;
	font-family: inherit;
	transition: 0.3s;
}

.time_select button:hover {
	color: black;
	background: white;
}

/* Sound */
.sound_picker button {
	border: none;
	height: 12rem;
	width: 12rem;
	border-radius: 50%;
	padding: 2rem;
}

.sound_picker button:hover {
	transform: scale(1.1);
}

.sound_picker img {
	height: 100%;
}

.sound_picker button:nth-child(1) {
	background: #03c6fc;
}

.sound_picker button:nth-child(2) {
	background: #ffc933;
}

.sound_picker button:nth-child(3) {
	background: #ff2121;
}

video {
	position: fixed;
	top: 0%;
	left: 0%;
	overflow: hidden;
	width: 150rem;
	z-index: -10;
}

button:focus {
	outline: 0;
}

.complete {
	animation: complete 4s infinite;
}

/* Animation */
@keyframes complete {
	0% {
		color: purple;
	}

	25% {
		color: yellow;
	}

	50% {
		color: green;
		transform: scale(1.3);
	}

	75% {
		color: blue;
	}

	100% {
		color: red;
	}
}

/* Media query */
@media only screen and (max-width: 860px) {
	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: 680px) {
	.pomodoro_container {
		padding-bottom: 5rem;
		height: 93vh;
		flex-direction: column;
		justify-content: space-between;
	}

	.time_select,
	.sound_picker {
		flex: 0;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}

	.time_select {
		margin-top: 5rem;
	}

	/* Player Part */
	.player_container {
		min-height: 35rem;
		flex: 0;
	}

	.player_container svg {
		height: 100%;
		pointer-events: none;
		transform: rotate(-90deg);
	}

	.play {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.7);
	}

	.slide_container {
		position: absolute;
		bottom: -22%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20rem;
	}

	.count-display {
		top: 15%;
	}

	.time-display,
	.count-display {
		font-size: 3rem;
	}

	.time_select button,
	.sound_picker button {
		display: inline-block;
	}

	/* Sound and Time Part */
	.sound_picker button {
		transform: scale(0.7);
	}

	.sound_picker button:hover {
		transform: scale(0.8);
	}
}
